:root{
    --white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
}

.header_head_container{
    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    gap: 81px;
    margin-right: 133px;
    margin-top: 50px;
    padding-bottom: 17px;
    padding-left: 15px;
}

nav{
    border-bottom: 0.5px solid var(--white);
}

header{
    background: url('https://images.pexels.com/photos/9792417/pexels-photo-9792417.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_shadow{
    width: 100%;
    height: 100vh;
    color: rgba(0, 0, 0, 0.4);
}

.logo{
    font-size: 3.6rem;
    color: var(--white);
    margin-top: 28px;
    margin-left: 71px;
    font-weight: 800;
}

.nav_list li a{
    font-size: 1.8rem;
    color: var(--white);
    font-weight: 400;
}

.header_center_container h1{
    color: var(--white);
    margin-top: 214px;
    margin-left: 200px;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 60.24px;
    max-width: 403px;
}

.header_center_container p{
    margin-top: 17px;
    margin-left: 200px;
    max-width: 429px;
    font-weight: 300;
    color: var(--white);
    line-height: 30.12px;
    font-size: 2.4rem;

}